*.bak
*~
.DS_Store
/debian/*.log
/debian/*.substvars
/debian/*.debhelper
/debian/files
/debian/proxmox-backup-gfs/
/debian/.debhelper/
/debian/debhelper-build-stamp
*.deb
.vscode/
test.log
*.swp
build/
dist/
node_modules/